
<% if @image.address %>
  <span>Location: </span>
  <span><%= @image.address %></span><br/>
  <span>Latitude: </span>
  <span><%= @image.latitude %></span><br/>
  <span>Longitude: </span>
  <span><%= @image.longitude %></span><br/>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@image.latitude}%2C#{@image.longitude}" %><br/>
<% end %>
<% @image.exif_fields.each do |field| %>
  <%= field.key + ": " + field.value %><br/>
<% end %>