
<div class="container ">
  <div class="row smart-row text-center" id="main-image">
    <% if @image.store? %>
      <div class="gallery text-center">
      <%= image_tag @image.store_url(:normal) if @image.store? %>
      <% unless @faces.empty? %>
        <% @faces.each do |face| %>
          <div style="<%= "position: absolute; top: #{@delta_height+face.y_coordinate}px; left: #{@delta_width+face.x_coordinate}px; width: #{face.width}px; height: #{face.height}px; border: 1px solid #0ff; z-index: 1000; " %>">
          </div>
        <% end %>
      <% end %>
      </div>
    <% else %>
      <img src="holder.js/1000x500">
    <% end %>  
  </div>
  <div class="row smart-row">
  <%= link_to "Original Image", @image.store_url, class: "btn btn-success btn-lg" %> 
  <%= link_to "Image Data", user_image_data_path(@user, @image), class: "btn btn-lg btn-warning pull-right" %>
  </div>
  <div class="col-md-12">
    <%= form_for([current_user, @image], html: {class: "form-horizontal" }) do |form| %>
      <div class="col-md-9">
      <%= form.select "category_id", options_from_collection_for_select(@categories, "id", "name", @image.category_id), {}, class: "form-control"  %>
      </div>
      <%= form.submit("Update category" , class: "btn btn-primary btn-lg col-md-3") %>
    <% end %>
  </div>
  <% if @category %>
    <div class="col-md-12">
    <%= form_for([current_user, @image], html: {class: "form-horizontal" }) do |form| %>
      <div class="col-md-9">
      <%= form.select "sub_category_id", options_from_collection_for_select(@sub_categories, "id", "name", @image.sub_category_id), {}, class: "form-control"  %>
      </div>
      <%= form.submit("Update sub-category" , class: "btn btn-primary btn-lg col-md-3") %>
    <% end %>
  </div>
  <% end %>
  <!--
  <div class="row">
    <%= link_to 'Edit', edit_user_image_path(current_user, @image) %> |
    <%= link_to 'Back', user_images_path(current_user) %>
  </div>
  -->
</div>
 