<!DOCTYPE html>
<html>
<head>
  <title>Smartalbum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navigation' %>

  <%= render 'layouts/notifications' %>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
